// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tag {
  border: solid 1px black;
  height: 60px;
  width: 20px;
  position: absolute;
}

.character-container {
  position: absolute;
  margin-left: -40px;
}

#photo-container {
  position: absolute;
  width: 1100px;
}

h1 {
  color: black;
}

#score {
  position: absolute;
  top: 1100px;
}